@import 'toggle-switch.css';

/* ----- theme ----- */
:root {
  --pass: light-dark(#080, #0c0);
  --sync: light-dark(#f1f1ff, #002);
  --async: light-dark(#fff0f5, #300);
  --callback: light-dark(#f1fff1, #020);
}

/* ----- syntax highlight theme ----- */
.comment { color: light-dark(#080, #0c0); }
.function { color: light-dark(#088, #0ee); }
.keyword { color: light-dark(#00f, #9df); }
.object { color: #19f; }
.string { color: light-dark(#777, #aaa); }

/* ----- general ----- */
article.help {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 18em);
  gap: 2em;
}

/* ----- /aside ----- */
aside {
  position: sticky;
  top: 5rem;
  overflow-y: auto;
  height: calc(100vh - 8rem);
  font-size: 0.9em;

  ul {
    list-style: none;
    padding-left: 1em;
  }

  li.l2 {
    padding-left: 1em;
  }

  li.l3 {
    padding-left: 2em;
  }

  a {
    color: var(--dim);

    &:hover {
      color: var(--color);
      text-decoration: underline;
    }
  }
}
/* ----- /aside ----- */

/* ----- pre|figure ----- */
pre {
  background-color: var(--bg-alt);
  padding: 1em;
  font-size: 1.2em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  position: relative;

  &.recommended {
    background-color: var(--callback);

    &::after {
      content: '✔';
      color: #080;
      opacity: 0.6;
      font-size: 2em;
      position: absolute;
      top: 0;
      right: 0.2em;
      line-height: 1;
    }
  }

  &.not-recommended {
    background-color: var(--async);

    ::after {
        content: '✘';
        color: #f00;
        font-size: 1.5em;
        opacity: 0.6;
        position: absolute;
        top: 0.1em;
        right: 0.2em;
        line-height: 1;
      }
  }

  .caption + & {
    margin-top: 0;
  }

  td &:first-child  {
    margin-top: 0;
  }

  td &:last-child  {
    margin-bottom: 0;
  }

  td:has(&:only-child) {
    vertical-align: top;
  }
}

.caption {
  margin: 0;
  font-size: 0.9em;
  padding: 0.1em 0.5em;
  border: 2px solid var(--bg-alt);

  ul + & {
    margin-top: 1em;
  }

  /* + pre {
    margin-top: 0;
  } */
}
/* ----- /pre|figure ----- */

/* ----- pass, fail, unknown ----- */
.pass {
  color: var(--pass);

  &::before {
    content: '✔ ';
  }
}

.fail {
  color: #f00;

  &::before {
    content: '✘ ';
  }
}

.unknown::before {
  content: '? ';
  font-weight: bold;
  color: var(--highlight);
}
/* ----- /pass, fail, unknown ----- */

/* ----- general ----- */
div.grid-2 {
  display: grid;
  grid-template-columns: 12em 12em;
  gap: 1em;
  margin-bottom: 1em;
}

.auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  column-gap: 1em;
}

.deprecated {
  color: var(--dim);

  &::after {
    display: inline-block;
    margin-left: 0.5em;
    content: '';
    background-color: currentcolor;
    mask-image: url('../image/delete.svg');
    mask-size: cover;
    width: 1em;
    height: 1em;
  }

  h3&::after {
    font-size: 0.8em;
  }
}

table.api tbody td:last-of-type {
  color: var(--dim);
  text-align: right;
}

table.user-css :is(th, td):nth-child(n+4) {
  background-color: var(--async);
}

.sync {
  background-color: var(--sync);

  &.pass::before {
    content: '✔ sync ';
  }
}

.async {
  background-color: var(--async);

  &.pass::before {
    content: '✔ async ';
  }
}

.callback {
  background-color: var(--callback);

  &.pass::before {
    content: '✔ callback ';
  }
}

#blocked li {
  margin-right: 1em;
}

.var {
  :is(input, select) {
    max-width: 6em;
  }

  input[type="color"] {
    border: 0;
    width: 4em;
    height: 1.7em;
  }

  output {
    vertical-align: top;
    min-width: 2em;
    display: inline-block;
  }
}

.hidden {
  visibility: hidden;
}

.gray {
  filter: grayscale(1);
}

.dotted {
  border-bottom: 3px dotted var(--border);
  display: inline-block;
  width: 4em;
}

/* ----- popup ----- */
.popup {
  color: #000;

  > div {
    display: grid;
    background: #ccc;
    border: 1px solid #aaa;

    > div {
      padding: 1em;
      background: #fff;
      text-align: center;
    }
  }

  .center {
    grid-column: span 2;
    padding: 4em;
    place-content: center;
    min-width: 20vw;

    p {
      text-align: center;
      margin: 0 auto 2em;
    }

    div {
      padding: 0 0.5em;
      border-radius: 10px;
      border: 1px solid #777;
      display: grid;
    }

    span {
      font-size: 0.9em;
      text-align: right;
    }
  }

  .left {
    justify-content: start;
  }

  .right {
    justify-content: end;
  }

  :is(.left, .right) div {
    height: 12em;
    display: grid;
    align-items: center;
    writing-mode: vertical-lr;

  }

  .top {
    height: 12em;
    align-items: start;
  }

  .bottom {
    height: 12em;
    align-items: end;
  }

  :is(.top, .bottom).bottom div {
    width: 100%;
  }
}
/* ----- /popup ----- */

/* ----- translate ----- */
.translate {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  gap: 0.5em;
  padding: 1em 1em 0;
  background-color: var(--bg);

  select {
    width: auto;
  }

  input[type="submit"] {
    color: inherit;
    background-color: var(--bg-alt);
    border: 1px solid var(--border);
    border-radius: 0.3em;
    padding: 0.1em 0.5em;
    cursor: pointer;
  }

  + article section h2:first-of-type {
    margin-top: 0;
  }
}
/* ----- /translate ----- */