@import 'default.css';

/* ----- general ----- */
:root {
  --width: 25em;
  --height: 45em;
  --header-height: 2rem;
}

body {
  font-size: 12px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s;
  width: var(--width);
}

/* body.android {
  width: auto;
} */

article {
  overflow: hidden;
  width: 200%;
  transition: 0.5s;
  display: grid;
  /* main | aside */
  grid-template-columns: 1fr 1fr;
}

/*
main | aside
       info, command, scratchpad, find
*/
section {
  height: calc(var(--height) - var(--header-height));

  &.main {
    height: var(--height);
  }
}

button[data-i18n="undo"] {
  color: #f00;
}
/* ----- /general ----- */

/* ----- navigation ----- */
#main:checked ~ article {
  transform: translateX(0%);
}

:is(#info, #command, #scratchpad, #find):checked ~ article {
  transform: translateX(-50%);
}

.info,
.command,
.scratchpad,
.find {
  display: none;
  grid-auto-flow: row;
}

#info:checked ~ article section.info,
#command:checked ~ article section.command,
#scratchpad:checked ~ article section.scratchpad,
#find:checked ~ article section.find {
  display: grid;
}
/* ----- /navigation ----- */

/* ----- list togglers ----- */
.main .list {
  label {
    padding: 0;
    border: 0;
    line-height: 1;

    img {
      width: 1.5em;
    }
  }

  input {
    display: none;
  }

  input:checked ~ img {
    opacity: 0.5;
  }

  input.list-disable ~ img {
    filter: grayscale(1);
  }

  &:has(.list-enable:checked) ~ ul li:not(.disabled),
  &:has(.list-disable:checked) ~ ul li.disabled,
  &:has(.list-js:checked) ~ ul li.js,
  &:has(.list-css:checked) ~ ul li.css {
    display: none;
  }
}
/* ----- /list togglers ----- */

/* ----- main ----- */
header {
  background-color: var(--bg-alt);
  padding: 0.5em;
  height: var(--header-height);

  span.title {
    font-size: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.tab-scripts {
    display: grid;
    /* title + 4 x img + frame */
    grid-template-columns: 1fr repeat(4, auto) 2em;
    align-items: center;
    gap: 3px;

    span.frame {
      text-align: right;
      padding: 0.1em 0.3em;
      color: var(--dim);
      font-size: 0.8em;
    }
  }
}

aside {
  display: grid;
  grid-template-rows: auto 1fr;

  header {
    padding: 0.7em;

    img {
      width: 1.3em;
      vertical-align: bottom;
    }
  }
}

section.main {
  display: grid;
  /* (header + ul) x2 | label x3 | div.button */
  grid-template-rows: repeat(2, auto 1fr) auto;

  ul {
    list-style: none;
    padding: 0.1em;
    margin: 0;
    overflow-y: auto;
  }

  li {
    padding: 0 0.4em;
    margin: 0;
    display: grid;
    /* flag + name */
    grid-template-columns: auto 1fr;
    gap: 3px;
    align-items: center;
    border-left: 4px solid transparent;

    span {
      cursor: pointer;
    }

    &.group {
      border-color: var(--group);
    }

    &.css .flag img[src*="js.svg"],
    &.js .flag img[src*="css.svg"] {
      display: none;
    }

    &.disabled {
      .flag img {
        filter: grayscale(1);
      }

      .name {
        color: var(--dim);
      }
    }

    .flag {
      img {
        width: 1.5em;
        pointer-events: none;
      }

      &:hover img {
        transform: scale(0.9);
      }
    }

    .name {
      padding: 0 0.4em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: grid;
      /* name + next(after) */
      grid-template-columns: 1fr auto;

      &:hover {
        background-color: var(--hover);
      }

      &::after {
        content: '';
        background: url('../image/next.svg') no-repeat center / contain;
        display: inline-block;
        width: 1em;
        opacity: 0;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  .buttons img[src$=".svg"] {
    width: 1.4em;
  }
}
/* ----- /main ----- */

/* ----- info ----- */
/*
  grid & scroll bug
  https://github.com/w3c/csswg-drafts/issues/1777
  https://stackoverflow.com/questions/45395184/css-grid-row-max-height-1fr-scroll-content
*/

section.info {
  /* icon | info | buttons */
  grid-template-rows: auto 1fr auto;

  div:first-of-type {
    padding-right: 1em;
    text-align: right;

    img {
      width: 2em;

      .disabled & {
        filter: grayscale(1);
      }
    }

    &.css img[src*="js.svg"],
    &.js img[src*="css.svg"] {
      display: none;
    }
  }

  dl {
    margin: 0;
    padding: 0 1em 1em;
    overflow-y: auto;
    position: relative;
  }

  dt {
    font-weight: bold;
  }

  dd {
    color: var(--dim);
  }

  dd + dt {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid var(--hover);
  }

  dt.error,
  dt.error ~ dd {
    color: #f00;
  }

  img[src*="edit.svg"] {
    width: 1.2em;
  }
}
/* ----- /info ----- */

/* ----- scratchpad ----- */
.scratchpad {
  /* (h2 + textarea + button) x2 */
  grid-template-rows: repeat(2, auto 1fr auto) auto;
  row-gap: 0.5em;

  h2 {
    font-size: 1.3em;
    margin: 0.5em;
    font-weight: normal;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5em;

    img {
      width: 1.2em;
      align-self: center;
    }
  }

  textarea {
    width: 90%;
    margin: 0 auto;
    resize: none;
  }

  select {
    width: 90%;
    margin: 0 auto;
  }

  #run-js {
    grid-column: span 3;
  }
}
/* ----- /scratchpad ----- */

/* ----- command----- */
.command {
  /* grid-template-rows: 1fr; */

  dl {
    margin: 0;
    padding: 1em;
    overflow-y: auto;
  }

  dd {
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.5em;

    &:hover {
      opacity: 1;
      background-color: var(--hover);
    }
  }
}
/* ----- /command----- */

/* ----- find script ----- */
.find {
  grid-template-rows: auto 1fr;

  dl {
    margin: 0;
    padding: 1em;
    overflow-y: auto;
  }

  dt {
    margin-bottom: 0.5em;
  }

  dd {
    &:hover {
      background-color: var(--hover);
    }

    a {
      display: block;
      padding: 0.5em;
    }

    img {
      width: 1.3em;
      vertical-align: text-top;
    }
  }
}
/* ----- /find script ----- */

/* ----- buttons ----- */
button {
  padding: 0.8em 0.1em;
}

div.buttons {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1px;
  background-color:var(--bg-alt);

  button:not(:hover) {
    background-color: unset;
  }

  label {
    align-content: center;
    text-align: center;
    font-size: 1.1em;

    &:hover {
      background-color: var(--hover);
    }
  }
}
/* ----- /buttons ----- */