/* ----- theme ----- */
:root {
  color-scheme: light dark;

  --color: light-dark(#000, #fff);
  --link: light-dark(#4b32c3, #b7b7ff);
  --dim: light-dark(#777, #ccc);

  --bg: light-dark(#fff, #101828);
  --bg-alt: light-dark(#f9f9fb, #1d2939);

  --hover: light-dark(#eaeaea, #456);
  --border: light-dark(#ddd, #444);
  --selected-bg: light-dark(#dcdcdc, #000);

  --btn-bg: var(--bg);
  --btn-hover: var(--hover);

  --highlight: #f84;
  --group: #19f;
}

/* ----- general ----- */
body {
  color: var(--color);
  background-color: var(--bg);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

article {
  padding: 0;
  margin: 0;
}

section {
  padding: 0;
}

a {
  color: var(--link);
  text-decoration: none;
}

code {
  font-size: 1.3em;
  padding: 0 0.3em;
  background-color: var(--bg-alt);
  white-space: break-spaces;
}

img {
  vertical-align: middle;
}

/* ----- input ----- */
select,
textarea,
input[type="number"],
input[type="text"],
input[type="password"],
input[type="url"] {
  width: 100%;
  color: inherit;
  background-color: var(--bg-alt);
  border: 1px solid var(--border);
  border-radius: 0.3em;

  &:hover {
    background-color: var(--hover);
  }
}

/* pointer */
button,
input[type="checkbox"],
input[type="number"],
input[type="password"],
input[type="text"],
input[type="url"],
label:has(input),
label.button,
label[for],
select,
summary,
.pointer {
  cursor: pointer;
}

::placeholder {
  font-style: italic;
}

:invalid {
  box-shadow: 1px 1px 4px #f20, -1px -1px 4px #f20;
}

/* ----- import/export ----- */
input[type="file"] {
  display: none;
}

/* ----- navigation ----- */
input[name="nav"],
input[type="checkbox"].control {
  display: none;
}
/* ----- /input ----- */

/* ----- buttons ----- */
button > * {
  pointer-events: none;
}

:is(button, input, select):disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

:is(button, label) img {
  width: 1.4em;
}

/* default button */
button,
label.button {
  background-color: var(--btn-bg);
  border: none;
  line-height: 1;
  white-space: nowrap;

  &:hover {
    background-color: var(--btn-hover);
  }
}

label.button {
  display: inline-block;
  text-align: center;
}

button.plain {
  background-color: unset !important;
  border: none;
  color: inherit;
  margin: 0;
  min-width: unset;
  padding: 0;
}

button[type="submit"] {
  display: table;
  margin: 1em auto 0;
  min-width: 8em;
  outline: 2px solid #19f;
}
/* ----- /buttons ----- */

/* ----- locale maker ----- */
article.locale-maker {
  width: min(60rem, 100vw);
}

em {
  color: var(--dim);
  font-size: 0.9em;
  font-weight: normal;
}

header {
  display: grid;
  grid-template-columns: auto max-content auto;
  column-gap: 0.5em;
  place-items: center;
  background-color: var(--bg-alt);
  padding: 0.5em;
  line-height: 1;

  img {
    width: 2em;
    place-self: center end;
  }

  h1 {
    margin: 0;
    place-self: center;
    font-weight: 500;
  }

  em {
    place-self: end start;
  }
}

div.buttons {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 0.2em;
  padding: 0.5em;
  border-bottom: 1px solid var(--border);

  button,
  label.button {
    border-radius: 5px;
    border: 1px solid var(--border);
    color: inherit;
    font-size: 0.9em;
    min-width: 8em;
    padding: 0.4em 1em;
  }
}

main {
  display: grid;
  row-gap: 0.2em;
  padding: 0.5em;

  label {
    color: var(--dim);
    margin-top: 0.5em;
  }

  input {
    font-size: 1em;
    padding: 0.2em;
  }
}

/* ----- Help ----- */
details {
  summary {
    background-color: var(--hover);
    font-size: 0.9em;
    padding: 0.2em 0.5em;
  }

  div {
    padding: 1em;
    border-bottom: 1px solid var(--border);
  }

  h2 {
    font-weight: 500;
    border-bottom: 1px solid var(--border);

    &:first-of-type {
      margin-top: 0;
    }
  }
}
/* ----- /Help ----- */